:root {
  --primaryColour: #e6e6e6;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--primaryColour);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Form {
  font-size: medium;
  display: table;
}

.navbar {
  position: -webkit-sticky; /* for safari */
  position: sticky;
  top:1%;
  margin-left: 25%;
  margin-right: 25%;
  justify-content: space-between;
  flex-direction: row;
  border: 1px dashed black;
  background-color: dimgray;
  z-index: 1000; /* <apparently this is not very good practice, but works for now to get the navbar over the other components */
}

.navLink-home {
  display: inline-flex;
  margin-right: 30%;
  margin-left: 1%;
}

.navLink {
  display :inline-flex;
  padding-right: 1%;
  padding-left: 1%;
  padding-top: 0;
  padding-bottom: 0;
}

.navLink:link, .navLink:visited, .navLink-home:link, .navLink-home:visited {
  text-decoration: none;
  color: whitesmoke;
}

.navLink:hover {
  text-decoration: none;
  background-color: grey;
}

.Current-page {
  text-decoration: none;
  background-color: grey;
}

.campaign {
  justify-content: flex-start;
  outline: 2px solid black;
  display:inline-flexbox;
  padding: 0.5%;
  margin: 1%;
}

.campaign-name {
  display: inline-flex;
  vertical-align: middle;
}

.campaign ul {
  display:inline-flex;
  vertical-align: middle;
}

.campaign ul li {
  display:flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
