.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Form {
  font-size: medium;
  display: table;
}

.navbar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top:0;
  border: 2px, solid, #282c34;
}

.navbar li {
  padding-left: 1%;
  padding-right: 1%;
  display: inline-flex;
  justify-content: space-around;
}

.navLink-home {
  margin-right: 100%;
}

.navLink:link, .navLink:visited, .navLink-home:link, .navLink-home:visited {
  text-decoration: none;
  color: whitesmoke;
}

.navLink:hover, .navLink:active {
  text-decoration: none;
  background-color: grey;
}

.campaign li {
  display:inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
/*.App-link {
  color: #61dafb;
}*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
