:root {
    --map-hover-good: #008628;
    --map-hover-bad: #be0000;

    --map-hover: var(--map-hover-good);
}

.grid {
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.row {
    display: flex;
    flex-direction: row;
}

.square {
    display: contents;
}

.grid-square {
    outline: 2px solid black;
    fill: rgb(255, 0, 234);
}

.grid-square-bg {
    
    outline: 2px solid black;
    fill-opacity: 100%;
    fill: var(--bg-primary);
}

.grid-square-fg:not(:hover) {
    fill-opacity: 0%;
}

.grid-square-fg:hover {
    fill: var(--map-hover);
    fill-opacity: 70%;
}